<div *ngIf="show">
  <button (click)="onClickLogin()">login</button>
  <br><br>
  <button (click)="onClickRegistration()">registration</button>
</div>

  <div *ngIf="!show && login" >
    <form #form='ngForm'>
      <label>login </label>
      <input type="text" name="login" ngModel>
      <br>
      <br>
      <label>name </label>
      <input type="text" name="email" ngModel>
      <button (click)="sendForm(form)">Send</button>
    </form>
  </div>
<div *ngIf="!show && register">
  <form #anotherForm='ngForm'>
    <label>login </label>
    <input type="text" name="login" ngModel>
    <br>
    <br>
    <label>name </label>
    <input type="text" name="email" ngModel><br>
    <br>
    <label>password</label>
    <input type="password" name="password" ngModel>
    <button (click)="sendForm(anotherForm)">Send</button>
  </form>
</div>


<!--<div>{{sendForm}}</div>-->

